

.about-us-item {
	width: 30%;
	padding-top: 50px;
	padding-bottom: 50px;
}


.about-us-avatar {
	max-width: 100%;
}

.item-avatar {
	max-width: 100%;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}

