.about-us-bg {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover; 
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 30px;
}

.about-us-item {
	width: 30%;
	padding-top: 50px;
	padding-bottom: 50px;
}


.about-us-avatar {
	max-width: 100%;
}

.item-avatar {
	max-width: 100%;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}

