.certificate-slide {
	width: 350px;
	max-height: 300px;
	padding-left: 10px;
	padding-right: 10px;
}


.img-slide {
	max-width: 100%;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}

.img-slide:hover {
	transform: scale(0.8, 0.8);
}

.title-c {
	text-transform: uppercase;
}

.line-c {
	margin-left: auto;
	margin-right: auto;
}

.paddings--screen {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

