.block-header {
	background-color: rgba(40, 40, 46, .8);
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}

.header-title-text {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
}

.header-line {
	height: 3px;
	max-width: 50px;
	background-color: #fff;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.header-content-text {
	display: block;
	color: #fff;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.header-button-link {
	display: inline-block;
	margin-top: 20px;
	background-color: transparent;
	text-align: center;
	border: 2px solid #fff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.header-button-link:hover {
	transform: scale(1.2, 1.2);
}