html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 68px;
}

.container {
	max-width: 1210px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.screen-navigation {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,.5);
	position:fixed;
	top:0;
	width:100%;
}

.screen--header {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover; 
	background-attachment: fixed;

}

.screen-about-us {
	
}

.screen--services {
	
}

.screen--footer {
 	height: 68px;
 	margin-top: -68px;
	background-color: #000;
}