@media screen and (max-width: 760px) {
	.block-flex {
		flex-direction: column;
		text-align: center;
	}
	.line {
		margin-left: auto;
		margin-right: auto;
	}
	.about-us-item,
	.services-item {
		width: 80%;
	}

	.item-set {
		width: 90%;
	}
}