.block-social {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.social-title {
	font-size: 20px;
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

.social-conent {
	font-size: 19px;
}

.social-item {
	margin-top: 35px;
}